ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
  }

  nav {
    padding-top: 1rem;
  }
  
  li {
    float: right;
    padding-right: 1rem;
    color: var(--color-primary-variant);
    
  }

