.counter {
    width: fit-content;
    background-color: var(--color-bg-variant);
    margin: 2rem;
    padding: 1rem;
    text-align: center;
}

button {
    background-color: var(--color-primary);
}